#ingresar{

    margin-top: 20px;
    font-family: 'Bodoni Moda', serif;
    font-size: 25px;
    margin-left: 20px;
    

}

#aclaracion {

    margin-top: 100px;
    font-family: "Latin Modern Roman 10";
    font-style: oblique;

}