
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
   
}


<div class="alert alert-success" role="alert">
  Alerta enviada correctamente !
</div>

 <h3 style="color:blue">
        @ViewBag.Error
        </h3>