@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
   
}

@section Styles{ <link rel="stylesheet" href="~/css/indexUser.css" />}


<h1>Welcome <strong>@ViewBag.UsuarioNombre</strong></h1>


@*<p id="flecha">↑</p> *@



 <img class="foto-a" src="~/images/affection.png" />


 