@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section Styles{ <link rel="stylesheet" href="~/css/mostrarIngresos.css" />}


<div class="alert alert-warning" role="alert">
  No existen aportes de tal monto.
</div>