@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}

@section Styles{ <link rel="stylesheet" href="~/css/buscarMes.css" />}

  <form id="formulario" method="POST" asp-action="FiltrarPorAporte" asp-controller="User">
<label for="Name" id="ingresar">Ingresar monto del aporte :
</label>
<input type="text" placeholder="$"  id="Name" name="aporte" />

   <button id="registrar" type="submit" class="btn btn-dark margin-top-btn" id="b">Buscar</button>



  </form>