@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    bool gastoError = ViewBag.GastoError != null ;
}

   @section Styles{ <link rel="stylesheet" href="~/css/resultadoIngreso.css" />}

    @if(gastoError) {
    <h1>Debes iniciar sesion para realizar esta accion.  <a type="button" href=/Home/Ingresar >Ingresar</a> </h1>
    } else {

      <div class="alert alert-success" role="alert" id="result">
    Ingreso de gasto exitoso.

      <a type="button" href=/User/AgregarNuevoGasto >Volver a ingresar un nuevo gasto</a>
      </div>


    
    }
